<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="smoothie.png" type="image/png" />
		<title>Ninja Smoothies</title>
		<link rel="stylesheet" href="/styles.css" />
		<link rel="stylesheet" href="/fonts/font.css" />
	</head>
	<body>
		<header>
			<nav>
				<h1><a href="/">Ninja Smoothies</a></h1>
			</nav>
		</header>
	</body>
</html>
