<%- include('partials/header') %>

<main>
	<form>
		<h2>Log in</h2>
		<label for="email">Email</label>
		<input type="text" id="email" name="email" required autocomplete="email" />
		<div class="email error"></div>
		<label for="password">Password</label>
		<input type="password" id="password" name="password" required />
		<div class="password error"></div>
		<button type="submit">Log in</button>
	</form>
</main>

<script>
	const form = document.querySelector('form');
	const emailError = form.querySelector('.email.error');
	const passwordError = form.querySelector('.password.error');

	form.addEventListener('submit', async e => {
		e.preventDefault();

		const email = form.email.value;
		const password = form.password.value;

		// Reset error state
		emailError.textContent = '';
		passwordError.textContent = '';

		try {
			const res = await fetch('/login', {
				method: 'POST',
				body: JSON.stringify({ email, password }),
				headers: { 'Content-Type': 'application/json' },
			});

			const data = await res.json();
			if (data.errors) {
				emailError.textContent = data.errors.email;
				passwordError.textContent = data.errors.password;
			}
			console.log(data);
			// Redirect to homepage
			// if (data.user) location.assign('/');
		} catch (err) {
			console.log(err);
			console.error(err);
		}
	});
</script>

<%- include('partials/footer') %>
